.products {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
}
.products > .bar {
  display: flex;
  flex-direction: row;
  margin-top: -20px;
  grid-gap: 20px;
}
.products > .product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
#nouv {
  font: normal normal bold 16px/20px PT Sans;
  color: #1f1f1f;
}
.item {
  font: normal normal normal 16px/20px PT Sans;
  color: #6f6c6c;
}

.products > .botton {
  width: 900px;
  height: 59px;
  background: #f2f2f2 0% 0% no-repeat padding-box;
  font: normal normal medium 16px/31px Helvetica Neue;

  margin-top: 50px;
}

.products > .botton > p {
  margin-top: 20px;
  color: #4d302b;
  text-transform: uppercase;
  text-align: center;
}

/******************************
           ********Responsive**************
                               ************************/
/* IPad */
@media only screen and (max-width: 768px) {
  .products {
    margin-left: 120px;
  }
  .products > .product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 100px;
  }
  .products > .botton {
    width: 500px;
    margin-bottom: 400px;
  }
}

/****************
            ***IPhoneX***
                        *******************/
@media only screen and (max-width: 375px) {
  .products > .product-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
  .products > .bar {
    margin-left: -60px;
  }
  .products > .botton {
    width: 260px;
  }
}
