.woodStore {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-bottom: 100px;
}
.woodStore > .part1 {
  margin-top: 100px;
}
.woodStore > .part2 {
  margin-top: 150px;
  background-color: white;
  width: 630px;
  height: 400px;
  margin-left: 500px;
  position: absolute;
}
#notremagasin {
  margin-top: -60px;
  padding-left: 300px;
  font: normal normal bold 33px/43px PT Sans;
  color: #1f1f1f;
}
.part2 > p {
  font: normal normal normal 14px/25px PT Sans;
  color: #504e4e;
  margin-left: 50px;
}
.woodStore > .part2 :hover img {
  cursor: pointer;
  width: 630px;
  height: 200px;
}
#savoirPlus {
  color: var(--unnamed-color-7daf3f);
  text-align: left;
  font: normal normal bold 16px/20px PT Sans;
  color: #7daf3f;
  text-transform: uppercase;
  margin-left: 50px;
  opacity: 0;
}
.woodStore > .part2:hover #savoirPlus {
  opacity: 1;
}
.woodStore > .part1:hover .img1 {
  transform: scale(1.01);
}
/******************************
           ********Responsive**************
                               ************************/
/* IPad */
@media only screen and (max-width: 768px) {
  .woodStore > .part2 {
    width: 500px;
    height: 350px;
  }
  .woodStore > .part2 > .img2 {
    width: 500px;
    height: 200px;
  }
}
/****************
            ***IPhoneX***
                        *******************/
@media only screen and (max-width: 375px) {
  .woodStore {
    grid: none;
  }
  .woodStore > .part1 > .img1 {
    margin-top: 80px;
    width: 375px;
    height: 400px;
  }
  .woodStore > .part2 {
    margin-top: 80px;
    margin-left: 30px;
    background-color: white;
    width: 300px;
    height: 300px;
    position: absolute;
  }
  .woodStore > .part2 > .img2 > img {
    width: 300px;
    height: 150px;
  }
  #notremagasin {
    margin-left: -250px;
  }
  .part2 > p {
    margin-top: -20px;
    margin-left: 10px;
  }
  .woodStore > .part2:hover img {
    height: 100px;
  }
}
